# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: AZING
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: AzReg
        repository: surbhin/repo2
        command: 'buildAndPush'
        dockerfile: '**/Dockerfile'
        
        
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Pipeline.Workspace)'
        publishLocation: 'pipeline'
      